/* Created on : April 6, 2019, 11:08 AM
Author     : Martha Twesigye  */

body {
    background-color: #fbfad3;
}
.well {
    background-color: #679186;
    font-family: 'Inconsolata', monospace;
    font-size: 20px;
}
.jumbotron:hover{
background-color: aquamarine;
}
.panel {
    background-color: #679186;
    opacity: 0.9;
    font-family: 'Inconsolata', monospace;
    font-size: 20px;
}
.jumbotron {
    background-color: #B17C14;
}

button {
    background-color: #000000;
    color: #264e70;
}

#player1-section {

    background-color: #88BD3D;
    opacity: 0.9;
}
#player1-section:hover{
 background-color: #DB8B53;
}
#player2-section {

    background-color: #88BD3D;
    opacity: 0.9;
}
#player2-section:hover {
    background-color: #DB8B53;
}
#instructions {
    width: 60%;
    align-self: auto;}

h4 {
    text-align: left;
}

ul,
h3 {
    text-align: center;
}

#roller, #holder, #starter {
    width: 60%;
    margin: auto;
}

#heading1 {
    text-align: center;
   font-family: 'Monoton',
   cursive;
    font-size: 75px;
    color: #264e70;
    }

    #instructions {
        display: none;
        font-family: 'Bad Script',
        cursive;

    }

    .selector {
        font-family: 'Vollkorn', serif;
        color: #bc2525;
        text-transform: uppercase;
        font-style: bold;
        text-decoration: underline;

    }

    .winner {
        background-image: url("http://www.dellawards.com/components/com_virtuemart/shop_image/product/Metal_Cup_Trophy_4d7dac87ed855.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    #instruction{
        align-content: center;
        position: fixed;
    }
